@import "miam-menu-variables";
@import "miam-menu-animation";

/**classic**/
.burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: $button-width;
  height: $button-width;
  border: $button-border-width solid $button-border-color;
  background-color: $button-background-color;
  overflow: hidden;
  transition: $duration all $easing;
  .barre {
    position: absolute;
    top: 50%;
    left: 50%;
    height : $bars-height;
    @if $bars-rounded {
      border-radius: $bars-height;
    }
    background: $bars-color;
    transform: translate(-50%, -50%);
    width: 80%;
    transition: $duration all $easing;
    &__top {
    display: block;
    top: calc(50% - #{$bars-padding});
    }
    &__bottom {
    top: calc(50% + #{$bars-padding});
    }
  }
}

/* align right */
.burger-menu.align-right {
  .barre {
    right: 10%;
    left: auto;
    transform: translate(0,-50%);
    &__middle {
      width: 60%;
    }
    &__bottom {
      width: 40%;
    }
  }
}

/* align left */
.burger-menu.align-left {
  .barre {
    left: 10%;
    transform: translate(0,-50%);
    &__middle {
      width: 60%;
    }
    &__bottom {
      width: 40%;
    }
  }
}

/* dotted left */
.burger-menu.dotted-left {
  .barre {
    width: 50%;
    &::before {
      content: '';
      height: $bars-height;
      background-color: $bars-color;
      width: $bars-height;
      position: absolute;
      left: calc( #{$bars-height} * -2 );
      @if $bars-rounded {
        border-radius: 50%;
      }
    }
  }
}

/* dotted right */
.burger-menu.dotted-right {
  .barre {
    width: 50%;
    &::after {
      content: '';
      height: $bars-height;
      background-color: $bars-color;
      width: $bars-height;
      position: absolute;
      right:  calc( #{$bars-height} * -2 );
      @if $bars-rounded {
        border-radius: 50%;
      }
    }
  }
}
.menu-rounded {
  border-radius: 50%;
}
.barre.rounded {
  border-radius: 2px;
}

/* Animations */
.burger-menu.transition-basic {
  .barre {
    top:50%;
    left: 50%;
    width: 80%;
    &__middle {
      left: -200%;
    }
    &__top {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}
.burger-menu.transition-basic-right {
  .barre {
    top:50%;
    left: 50%;
    width: 80%;
    &__middle {
      left: 200%;
    }
    &__top {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}

.burger-menu.transition-basic2 {
  transform: rotate(180deg);
  border-radius: 50%;
  .barre {
    left: 50%;
    width: 80%;
    top: 50%;
    &__middle {
      opacity: 0
    }
    &__top {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}

.burger-menu.transition-arrow {
  .barre {
    left: 50%;
    right: auto;
    width: 80%;
    &__middle{
      width: 44%;
      transform: translate(-50%,-50%)
    }
    &__top{
      left:55%;
      width: 30%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 55%;
      width: 30%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}

.burger-menu.transition-arrow-left {
  .barre {
    left: 50%;
    right: auto;
    width: 80%;
    &__middle{
      width: 44%;
      transform: translate(-50%,-50%);
    }
    &__top{
      left:45%;
      width: 30%;
      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom{
      left: 45%;
      width: 30%;
      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}
.burger-menu.transition-arrow-alt {
  .barre {
    left: 50%;
    right: auto;
    width: 50%;
    &__middle{
      width: 44%;
      left: 200%;
      transform: translate(-50%,-50%);
    }
    &__top{
      left:45%;

      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 45%;
      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}
.burger-menu.transition-arrow-right-alt {
  .barre {
    left: 50%;
    right: auto;
    width: 50%;
    &__middle{
      width: 44%;
      left: 200%;
      transform: translate(-50%,-50%);
    }
    &__top{
      left:45%;

      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 45%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}
.burger-menu.transition-arrow-down-alt {
  transform: rotate(90deg);
  .barre {
    left: 50%;
    right: auto;
    width: 50%;
    &__middle{
      width: 44%;
      left: 200%;
      transform: translate(-50%,-50%);
    }
    &__top{
      left:45%;

      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 45%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}

.burger-menu.squize:hover {
  .barre {
    &__top{
      top: calc(50% - #{$bars-padding} / 2);
    }
    &__bottom{
      top: calc(50% + #{$bars-padding} / 2);
    }
  }
}
.burger-menu.rotate:hover {
  transform: rotate(90deg);
}

/*.transition-roll{
  .barre{
  animation-name: full;
  animation-duration: .4s;
  animation-fill-mode :forwards;
  }
}

@keyframes full {
  0%{
  width: 80%;
  }
  50%{
  width : 100%;
  height : 10px;

  }
  100%{
  height: 35px;
  width: 100%;
  }
}*/
