@import "helpers/variables";

/**classic**/
.burger-menu{
  position: fixed;
  top: 100px;
  left: 100px;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid $color-border-button;
  background-color: $color-bg-button;
  overflow: hidden;
  transition: .3s all ease-in-out;
  .barre{
    position: absolute;
    top: 50%;
    left: 50%;
    height : $height-barre;
    background: $color-barre;
    transform: translate(-50%, -50%);
    width: 80%;
    transition: .3s all ease-in-out;
    &__top{
    display: block;
    top: calc(50% - #{$padding-barre});
    }
    &__bottom{
    top: calc(50% + #{$padding-barre});
    }
  }
}


/**align right**/
.burger-menu.align-right {
  .barre {
    right: 10%;
    left: auto;
    transform: translatey(-50%);
    width: 80%;
    &__middle {
      width: 60%;
    }
    &__bottom {
    width: 40%;
    }
  }
}

/* align left */
.burger-menu.align-left {
  .barre {
    left: 10%;
    transform: translatey(-50%);
    width: 80%;
    &__middle {
      width: 60%;
    }
    &__bottom {
    width: 40%;
    }
  }
}

/* dotted left */
.burger-menu.dotted-left {
  .barre {
    width: 50%;
    &::before {
      content: '';
      display: block;
      height: $height-barre;
      background-color: $color-barre;
      width: $height-barre;
      position: absolute;
      left: calc( #{$height-barre} * -2 );
    }
  }
}

/* dotted right */
.burger-menu.dotted-right {
  .barre{
    width: 50%;
    &::after {
      content: '';
      display: block;
      height: $height-barre;
      background-color: $color-barre;
      width: $height-barre;
      position: absolute;
      right:  calc( #{$height-barre} * -2 );
    }
  }
}
.menu-rounded{
  border-radius: 50%;
}
.barre.rounded{
  border-radius: 2px;
}

/* Animations */


.transition-basic {
  .barre{
    top:50%;
    &__middle{
      left: -200%;
    }
    &__top{
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom{
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before, &::after {
      opacity: 0;
    }
  }
}

.transition-basic2 {
  transform: rotate(180deg);
  .barre{
    top:50%;
    &__middle{
      opacity: 0
    }
    &__top{
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &__bottom{
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}

.transition-arrow {
  .barre{
    &__middle{
      width: 45%
    }
    &__top{
      left:55%;
      width: 30%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 55%;
      width: 30%;
      top: 50%;
      transform-origin: center right;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}

.transition-arrow-left {
  .barre{
    &__middle{
      width: 45%
    }
    &__top{
      left:45%;
      width: 30%;
      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &__bottom{
      left: 45%;
      width: 30%;
      top: 50%;
      transform-origin: center left;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}

.transition-roll{
  .barre{
  animation-name: full;
  animation-duration: .4s;
  animation-fill-mode :forwards;
  }
}

@keyframes full {
  0%{
  width: 80%;
  }
  50%{
  width : 100%;
  height : 10px;

  }
  100%{
  height: 35px;
  width: 100%;
  }
}
