
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  background: #fff;
}
h1{
  padding: 2rem;
}
/**classic**/
.container-burger {
  display: flex;
  justify-content: center;
}

.burger-menu{
  position: relative;
  top: auto;
  left: auto;
  margin: 50px;
}
//
// .container-burger-classic{
//   .burger-menu{
//     position: relative;
//     top: auto;
//     left: auto;
//   }
// }
//
// /**align right**/
// .container-burger-align-right{
//
//
// }
//
// /* align left */
// .container-burger-align-left{
//   .burger-menu{
//     position: relative;
//     top: auto;
//     left: auto;
//   }
// }
//
// /* dotted left */
// .container-burger-dotted-left{
//   .burger-menu{
//     position: fixed;
//     top: 700px;
//     left: 400px;
//   }
// }
//
// /* dotted right */
// .container-burger-dotted-right{
//   .burger-menu{
//     position: fixed;
//     top: 700px;
//     left: 800px;
//   }
// }
//




// .transition-basic3 {
//   .barre{
//     animation-name: basic3;
//     animation-duration: .3s;
//     animation-fill-mode: forwards;
//     &__middle{
//       animation-name: basic3-mid;
//       animation-duration: .3s;
//       animation-fill-mode: forwards;
//       animation-delay: .3s;
//     }
//     &__top{
//
//     }
//     &__bottom{
//       animation-name: basic3-mid;
//       animation-duration: .3s;
//       animation-fill-mode: forwards;
//       animation-delay: .3s;
//     }
//   }
// }
//
// @keyframes basic3 {
//   from {
//     width: 50%;
//     height: $bars-height;
//   }
//   50% {
//     width: $bars-height;
//     height: $bars-height;
//   }
//   to {
//     height: 40%;
//     width: $bars-height;
//   }
// }
// @keyframes basic3-mid {
//   from {
//     transform: translate(-50%,-50%) rotate(0);
//   }
//   to {
//     transform: translate(-50%,-50%) rotate(45deg);
//   }
// }
// @keyframes basic3-bot {
//   from {
//     transform: translate(-50%,-50%) rotate(0);
//   }
//   to {
//     transform: translate(-50%,-50%) rotate(-45deg);
//   }
// }
